/* global style */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #f0f0f0;

}

/* Style for the game board */
#game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    background-color: #333;
    /* Background color for the game board */
    border-radius: 10px;
}
/* style for categories buttom */
#game-board button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #555;
    /* Button background color */
    color: #fff;
    /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the question container */
#question-container {
    text-align: center;
    margin-top: 20px;
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}

#answer-choices button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #555;
    /* Button background color */
    color: #fff;
    /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the timer container */
#timer-container {
    text-align: center;
    margin-top: 20px;
}

#timer {
    font-size: 20px;
    font-weight: bold;
    background-color: #333;
    /* Timer background color */
    color: #fff;
    /* Timer text color */
    padding: 10px;
    border-radius: 5px;
}

/* Style for the score container */
#score-container {
    text-align: center;
    margin-top: 20px;
}

#score {
    font-size: 20px;
    background-color: #333;
    /* Score background color */
    color: #fff;
    /* Score text color */
    padding: 10px;
    border-radius: 5px;
}