/* global style */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #cf2323;
}

/* Style for the game */
#game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #333;
    border-radius: 10px;
    padding: 2%;
    max-width: 1200px;
    margin: 2% auto 0;
    }

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.point-value-container {
    display: flex;
    justify-content: space-between;
}

.point-value-button {
    flex: 1;
    margin: 5px;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.question-text {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.answer-choices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Rest of your CSS styles */

/* Style for categories button */
#game-board button {
    margin: 1%;
    padding: 2% 4%;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}

#answer-choices button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #555;
    /* Button background color */
    color: #fff;
    /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the timer container */
#timer-container {
    text-align: center;
    margin-top: 20px;
}

#timer {
    font-size: 20px;
    font-weight: bold;
    background-color: #333;
    /* Timer background color */
    color: #fff;
    /* Timer text color */
    padding: 10px;
    border-radius: 5px;
}

/* Style for the score container */
#score-container {
    text-align: center;
    margin-top: 20px;
}

#score {
    font-size: 20px;
    background-color: #333;
    /* Score background color */
    color: #fff;
    /* Score text color */
    padding: 10px;
    border-radius: 5px;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
            #game-board {
                flex-direction: column;
                border-radius: 10px;
            }
        }
