/* global style */
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #cf2323;
}

header {
    background-color: #333;
    /* Header background color */
    text-align: center;
    padding: 20px 0;
}

/* Style for the game */
#game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #333;
    border-radius: 10px;
    padding: 2%;
    max-width: 1200px;
    margin: 2% auto 0;
}

/* Style for categories button */
.category-button {
    margin: 1%;
    padding: 2% 4%;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add styling for other game elements as needed */

/* Style for the winner container */
#winner-container {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#winner-message {
    font-size: 24px;
    color: #fff;
    /* Winner message text color */
    margin-bottom: 20px;
}

#restart-button {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    #game-container {
        flex-direction: column;
        border-radius: 10px;
    }
}